body {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: rgb(54, 54, 54);
    background-color: rgb(247, 241, 236);
}

.container {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}